{% extends 'console/generic/modal.html' %}

{% load bootstrap3 %}

{% block modal-class %}{{block.super}} {% endblock modal-class %}

{% block modal-content %}
<form action="{{submit_url}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
{% csrf_token %}
<div class="modal-header">
    {% block modal-header %}
      {% if form_label %}
        {{form_label}}
        <button type="button" class="btn btn-close" data-action="modal-hide">X</button>
      {% else %}
        {{block.super}}
      {% endif %}
    {% endblock modal-header %}  
</div>
<div class="modal-body">
    {% if can_delete %}
        {% include 'console/generic/delete-button.html' with floatclass='pull-right' %}
    {% endif %}
    {% block modal-body %}
        {% bootstrap_form form %}       
    {% endblock modal-body %}
</div>
<div class="modal-footer">
{% block modal-footer %}
    {% block modal-buttons %}
    <div class="button-block">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn" data-action="modal-hide">Cancel</button>
    </div>
    {% endblock modal-buttons %}
{% endblock modal-footer %}
</div>
</form>
{% endblock modal-content %}
