{% load i18n %}{% autoescape off %}
{% blocktrans %}Welcome to HealthyMinds{% endblocktrans %}

{% trans "To setup your account please visit the following page and verify your information:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'console-account-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The HealthyMinds Team{% endblocktrans %}

{% endautoescape %}
