{% extends "console/base.html" %}
{% load bootstrap3 %}

{% block main %}
    <div class="dashboard content-block">
    <h2 class="page-title">Request A New Password</h2>
	  <p>Enter your email address into the form below to request a new password.</p>
	  <form action="" method="post" accept-charset="utf-8">
    	{% csrf_token %}
   		 <div>
   	 		{% bootstrap_form form %}
   	 		<p><button type="submit" class="btn btn-primary btn-primary btn-small">Request new password &rarr;</button></p>
    	</div>
  	</form>
	 </fieldset>
 </div>
{% endblock main %}
