{% extends "console/account/account_setup.html" %}
{% load bootstrap3 %}

{% block main %}
<div class="container dashboard content-block">
  	{% if validlink %}
  	<h2 class="page-title background-darkgray">Welcome to Policymaker</h2>
	  <div class="intro-text">Confirm your account information and create your password below to get started.</div>
  	<form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div>
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">Set password &rarr;</button>
    </div>
  </form>
  {% else %}
  <h2>Invalid Link</h2>
  <p>The link you clicked is out of date. 
  	{% if retry %}click to <a href="{% url 'account-confirm-retry' %}">receive a new invitation</a>
  	{% else %}You may <a href="{% url 'console-password-reset' %}">request another password change</a> if you still require a password reset.{% endif %}
  </p>
  {% endif %}
</div>
{% endblock main %}
